<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.spring.cloud.account.mapper.CustomMenuMapper">

    <delete id="removeMenu" parameterType="java.lang.String">
        delete from sys_custommenu
        WHERE menu_code = #{menuCode}
    </delete>

    <insert id="insertMenu" parameterType="com.hy.spring.cloud.account.domain.Entity.CustomMenu">
        insert into  sys_custommenu
        (
            id,
            title,
            menu_code,
            menu_url,
            expand,
            icon,
            parent_code
        )
        VALUES
        (
            #{id},
            #{title},
            #{code},
            #{menuUrl},
            #{expand},
            #{icon},
            #{parentCode}
        )
    </insert>

</mapper>