<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.spring.cloud.account.mapper.PermissionsServiceMapper">
    <select id="getUserAuthPermissions" parameterType="java.lang.String" resultType="com.hy.spring.cloud.account.domain.Entity.Permissions">
        SELECT
          t.id as id,
          t.permission_code as permissionCode,
          t.permission_name as permissionName
        FROM sys_permission t
    </select>

    <select id="getPermissionList" parameterType="java.util.Map" resultType="com.hy.spring.cloud.account.domain.Entity.Permissions">
        SELECT
          t.id as id,
          t.permission_code as permissionCode,
          t.permission_name as permissionName
        FROM sys_permission t
        INNER JOIN menu_permission mp ON mp.permission_code = t.permission_code
        <where>
            <if test="queryData != null and queryData != ''">
                <bind name="queryData" value="'%' + queryData + '%'"/>
                and t.permission_name like #{queryData}
            </if>
            <if test="menuCode != null and menuCode != ''">
                and mp.menu_code = #{menuCode}
            </if>
        </where>
    </select>

    <insert id="insertPermission" parameterType="com.hy.spring.cloud.account.domain.Entity.Permissions">
        insert into sys_permission
        (
            id,
            permission_name,
            permission_code
        )
        VALUES
        (
            #{id},
            #{permissionName},
            #{permissionCode}
        )
    </insert>
</mapper>