<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.spring.cloud.account.mapper.UserLoginRecordMapper">
    <select id="readRecord" resultType="com.hy.spring.cloud.account.domain.Entity.UserLoginRecord">
        select lr.login_time,lr.activity
        from sys_login_record lr
        where lr.user_id = #{userId}
    </select>

    <select id="LastRecord" resultType="com.hy.spring.cloud.account.domain.Entity.UserLoginRecord">
        select lr.login_time,lr.activity
        from sys_login_record lr
        where lr.user_id = #{userId}
        order by lr.login_time limit 1
    </select>

    <insert id="insertRecord" parameterType="com.hy.spring.cloud.account.domain.Entity.UserLoginRecord">
        insert into  sys_login_record
        (
            id,
            login_time,
            user_id,
            activity
        )
        VALUES
        (
            #{id},
            #{lastLoginTime},
            #{userId},
            #{activity}
        )
    </insert>
</mapper>