<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.spring.cloud.util.mapper.ImageMapper">

    <select id="getImage" parameterType="java.lang.String" resultType="com.hy.spring.cloud.util.domain.Entity.Attachment">
          select
            id,
            fileName,
            pathUrl,
            fileType
          from file_attachment
          where id = #{fileId}
    </select>

</mapper>