<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.spring.cloud.util.mapper.UtilMapper">

    <insert id="saveFileList">
        INSERT INTO file_attachment
        (
        id,
        file_name,
        path_url,
        file_type,
        file_status,
        suffix_name
        )
        VALUES
        <foreach item="el" collection="attachmentList" separator=",">
            (
            #{el.id},
            #{el.fileName},
            #{el.pathUrl},
            #{el.fileType},
            #{el.fileStatus},
            #{el.suffixName}
            )
        </foreach>
    </insert>

    <delete id="deleteFileList" parameterType="com.hy.spring.cloud.util.domain.Entity.Attachment">
        delete from file_attachment
        where id in (
            <foreach item="el" collection="attachmentList" separator=",">
                #{el.id}
            </foreach>
        )
    </delete>

    <select id="getAttachment" parameterType="java.lang.String" resultType="com.hy.spring.cloud.util.domain.Entity.Attachment">
          select
            id as id,
            file_name as fileName,
            path_url as pathUrl,
            file_type as fileType,
            file_status as fileStatus,
            suffix_name as suffixName
          from file_attachment
          where id = #{fileId}
    </select>

    <select id="queryAttachmentList" parameterType="com.hy.spring.cloud.util.domain.Entity.Attachment" resultType="com.hy.spring.cloud.util.domain.Entity.Attachment">
        select
            id as id,
            file_name as fileName,
            path_url as pathUrl,
            file_type as fileType,
            file_status as fileStatus,
            suffix_name as suffixName
        from file_attachment t
        <where>
            <if test="fileName != null and fileName != ''">
                <bind name="fileName" value="'%' + fileName + '%'"/>
                and t.file_name like #{fileName}
            </if>
            <if test="fileType != null and fileType != ''">
                or t.file_type = #{fileType}
            </if>
            <if test="fileStatus != null">
                or t.file_status = #{fileStatus}
            </if>
        </where>
    </select>

</mapper>